<div class="row">
  <div class="col-lg-3 col-sm-6" *ngFor="let movie of movies">
    <div class="card" style="width: 18rem;" >
      <img class="card-img-top img-thumbnail" [src]="movie.poster_path" [alt]="movie.title">
      <div class="card-body">
        <h5 class="card-title">{{movie.title}}</h5>
        <p class="card-text text-title badge badge-warning">{{movie.release_date}}</p>
      </div>
    </div>
  </div>
</div>
<div class="mb-2">
  <mat-paginator
    [length]="totalMovie"
    [pageSize]="moviesPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="movies.length > 0">
  </mat-paginator>
</div>


